* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    /* background-color: #f1f1f1; */
    padding: 30px;
    text-align: center;
    font-size: 35px;
    font-variant-caps: all-petite-caps;
    text-shadow: 0px 8px 16px 0px goldenrod;
    color: rgb(219, 132, 0);
  }
  
  
  .column {
    /* background-color: #f1f1f1; */
    float: left;
    width: 33.33%;
    padding: 60px;
    height: 300px;
    text-align: center;

  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .dropdown-content {
    position: relative;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 5px;
    margin: auto;
  }
  
  .dropdown-content:hover {
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);

  }
  
  .footer {
    /* background-color: #f1f1f1; */
    padding: 10px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }